body {
    background-color: #fbf5d1;
}

#how-to-use {
    background-color: #ffb950;
}

a {
    color: #9b0408;
}

.btn-primary {
    background-color: #9b0408;
    border: #9b0408;
}

.border-top-custom {
    border-top: 1px solid #333;
}

.border-bottom-custom {
    border-bottom: 1px solid #333;
}